.aboutheading {
  font-family: "Times New Roman", Times, serif;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  border-bottom: thick double black;
  margin-top: 10px;
  margin-left: 25%;
  margin-right: 25%;
}
.card {
  /* background-color: #021453; */
  display: grid;
  grid-template-rows: auto auto auto;
  background-color: rgb(226, 230, 235);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.profile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 1px 1px 20px 0.5px rgb(240, 235, 235);
  background-color: white;
}
.profileContain {
  display: flex;
  justify-content: center;
}
.description {
  padding: 10px;
  font-family: "Poppins", arial, sans-serif;
  line-height: 2;
  /* color:rgb(208, 207, 242); */
}
.name {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  font-family: "Poppins", arial, sans-serif;
  /* color:white; */
}
.degree {
  display: flex;
  justify-content: center;
  padding: 2px;
  /* color:white; */
}
.cardAndTimeline {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  margin-top: 20px;
  column-gap: 30px;
}
@media screen and (min-width: 460px) {
}
