.color-change {
  /* text-transform: uppercase; */
  transition: color 0.3s ease;
}

.color-change:hover {
  color: "red"; /* Set the color you want when hovering */
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
}
